<!DOCTYPE html>
<html>
<head>
    <title>Увеломления пользователя</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="utf-8"/>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<h1 style="text-align: center; margin: 15px 0;">Увеломления пользователя</h1>
<div class="container container-small" style="display: grid; margin-top: 40px">
    <a href="/" class="stretched-link" style="margin-bottom: 10px; float: right">К списку пользователей</a>
    <table class="table table-sm" id="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Дата операции</th>
            <th scope="col">Время операции</th>
            <th scope="col">Название операции</th>
            <th scope="col">Номер карты</th>
            <th scope="col">Баланс</th>
        </tr>
        </thead>
        <tbody>
        {{#each cards}}
            <tr>
                <td scope="row">{{this.id}}</td>
                <td scope="row">{{this.day}}</td>
                <td scope="row">{{this.time}}</td>
                <td scope="row">{{this.name}}</td>
                <td scope="row">{{this.num}}</td>
                <td scope="row">{{this.balans}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
</body>
<html>
